<div class="container">
<div class="container">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Editar Lista</a>
    </div>
  </nav>
  <br>
  <br>
  <br>
<%= render 'form', listum: @listum %>


  <a class="btn orange accent-1" href="<%= lista_path  %>">Voltar</a>
<%= link_to 'Detalhes', @listum %> 
</div>