<div class="container">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Nova Lista</a>
    </div>
  </nav>
  <br>
  <br>
  <br>
<%= render 'form', listum: @listum %>

<a class="btn" href="<%= lista_path %>">Voltar</a>

</div>